@model ImagesGalleryComponent
<div>
    <style>
    .img-container {
        position: relative;
        width: 100%;
        padding-bottom: 50%; /* Makes the container square */
        overflow: hidden;
    }
    .img-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
    .tm-video-item {
        height: 100%; /* Ensures the figure takes the full height of its container */
    }
    .figcaption-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .modal-body .share-link-input
    {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        background-color: #fff;
    }
    .modal-body .share-link-input {
        flex: 1;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 0 5px 5px 0; /* Rounded corners on the right side */
        font-size: 14px;
        background-color: #fff;
    }

    .copy {
        border: none;
        border-radius: 5px 0 0 5px; /* Rounded corners on the left side */
        background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" aria-hidden="true"><path fill="%23fff" fill-rule="evenodd" d="M4 12h4v1H4v-1zm5-6H4v1h5V6zm2 3V7l-3 3 3 3v-2h5V9h-5zM6.5 8H4v1h2.5V8zM4 11h2.5v-1H4v1zm9 1h1v2c-.02.28-.11.52-.3.7-.19.18-.42.28-.7.3H3c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h3c0-1.11.89-2 2-2 1.11 0 2 .89 2 2h3c.55 0 1 .45 1 1v5h-1V5H3v9h10v-2zM4 4h8c0-.55-.45-1-1-1h-1c-.55 0-1-.45-1-1s-.45-1-1-1-1 .45-1 1-.45 1-1 1H5c-.55 0-1 .45-1 1z"/></svg>') 50% no-repeat;
        height: 43px;
        width: 38px; 
        cursor: pointer;
    }

</style>
    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary">Image Gallery</h2>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <h4 class="tm-text-primary">
                    Page @Model.CurrentPage of @Model.TotalPages
                </h4>
            </div>
        </div>
        <div class="row tm-mb-90 tm-gallery">
            @if (Model.Images.Value != null || Model.Images is not null)
            {
                var images = await Model.Images.Value;
                if (images?.Items != null && images.Items.Any())
                {
                    foreach (var imageUrl in images.Items)
                    {
                        <div class="d-flex flex-column mt-1 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                            <figure class="effect-ming tm-video-item img-container" data-bs-toggle="modal"
                                    data-bs-target="#imageModal" data-bs-src="@imageUrl">
                                <img src="@imageUrl" alt="Image">
                                <figcaption class="d-flex align-items-center justify-content-center figcaption-container">
                                    @{
                                        var uri = new Uri(imageUrl);
                                        var fileName = System.IO.Path.GetFileName(uri.LocalPath);
                                        string fileNameWithoutExtension = System.IO.Path.GetFileNameWithoutExtension(fileName);
                                    }
                                    <h6>@fileNameWithoutExtension</h6>
                                    <a>View more</a>
                                </figcaption>

                            </figure>
                            <button class="btn btn-delete" onclick="deleteImage('@imageUrl')">Delete</button>

                        </div>
                    }
                }
                else
                {
                    <div class="col-12">
                        <p class="text-center">No images found.</p>
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <p class="text-center">No images found.</p>
                </div>
            }
        </div>
        <div class="row ">
            <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
                @{
                    var previous = Model.CurrentPage - 1;
                }
                <button hydro-on:click="@(() => Model.PageChanged(previous))"
                        class="btn btn-primary tm-btn-next">
                    Previous Page
                </button>
                <div class="tm-paging d-flex">
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <button hydro-on:click="@(() => Model.PageChanged(i))"
                                class="@(Model.CurrentPage == i ? "active" : "") tm-paging-link">
                            @i
                        </button>
                    }
                </div>
                @{
                    var nextPage = Model.CurrentPage + 1;
                }
                <button hydro-on:click="@(() => Model.PageChanged(nextPage))"
                        class="btn btn-primary tm-btn-next">
                    Next Page
                </button>
            </div>
        </div>
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <img id="modalImage" src="" class="img-fluid">
                        <p id="imageResolution"></p>
                        <p id="imageExtension"></p>
                        <div class="input-group mb-3">
                            <input id="share-link" type="text" value="" class="form-control share-link-input" readonly>
                            <button class="btn btn-secondary copy" id="copyLinkButton"></button>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <a id="downloadLink" href="" class="btn btn-primary" download>Download</a>
                        <button type="button" class="btn btn-delete" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteSuccessModal" tabindex="-1" aria-labelledby="deleteSuccessModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteSuccessModalLabel">Image Deleted</h5>
                        <button type="button" class="btn btn-delete" data-bs-dismiss="modal">Close</button>
                    </div>
                    <div class="modal-body">
                        <p>The image has been successfully deleted.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    function deleteImage(imageUrl) {
        $('#deleteSuccessModal').modal('show');
    }
</script>
</div>