@model PaginatedList<string>

<ul class="list-group">
    @if (Model.Items != null && Model.Items.Any())
    {
    foreach (var imageUrl in Model.Items)
    {
    var uri = new Uri(imageUrl);
    var fileName = System.IO.Path.GetFileName(uri.LocalPath);
    var fileNameWithoutExtension = System.IO.Path.GetFileNameWithoutExtension(fileName);
    <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
                    <span class="d-flex flex-row" style="overflow: hidden;">
                        <img src="@imageUrl" alt="@fileNameWithoutExtension" class="img-thumbnail" style="width: 60px; height: 60px; margin-right: 10px; border-radius: 5px;">
                        @fileNameWithoutExtension
                    </span>
            <div class="d-none d-md-block">
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#imageModal" data-src="@imageUrl" data-title="@fileNameWithoutExtension">
                    View
                </button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="@imageUrl">Delete</button>
            </div>
            <div class="dropdown d-md-none">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Actions
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    <li>
                        <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#imageModal" data-src="@imageUrl" data-title="@fileNameWithoutExtension">View</button>
                    </li>
                    <li>
                        <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="@imageUrl">Delete</button>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    }
    }
    else
    {
    <li class="list-group-item text-center">No images found.</li>
    }
</ul>
