@model PaginatedList<string>

<div class="container-fluid tm-container-content tm-mt-60">
    <div class="row mb-4">
        <div class="align-self-start">
            <h2 class="col-6 tm-text-primary">

            <span class="text-muted fw-light">Image /</span> Dashboard
            </h2>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">

            <h4 class="tm-text-primary">
                Page @Model.PageIndex of @Model.TotalPages
            </h4>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">

            <form id="searchForm" asp-action="Index" method="get" class="d-flex flex-row">
                <input type="text" id="searchQuery" name="searchQuery" class="form-control mr-sm-2"
                       placeholder="Search" value="@Model.SearchQuery" />
                <button type="submit" class="btn btn-primary" style="display: none;">Search</button>
            </form>


        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @Html.Partial("_ImageListPartial", Model)
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-between align-items-center">
            @{
                var previous = Model.PageIndex - 1;
                var next = Model.PageIndex + 1;
            }
            <a class="btn btn-primary" href="@Url.Action("Index", new { page = previous, searchQuery = Model.SearchQuery })" @(Model.PageIndex == 1 ? "disabled" : "")>Previous Page</a>
            <div class="pagination">
                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    <a class="btn @(Model.PageIndex == i ? "btn-primary" : "btn-outline-primary")" href="@Url.Action("Index", new { page = i, searchQuery = Model.SearchQuery })">@i</a>
                }
            </div>
            <a class="btn btn-primary" href="@Url.Action("Index", new { page = next, searchQuery = Model.SearchQuery })" @(Model.PageIndex == Model.TotalPages ? "disabled" : "")>Next Page</a>
        </div>
    </div>
</div>
@Html.Partial("_deleteModal")
@Html.Partial("ImageModal")

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var imageUrl = button.getAttribute('data-url');
            var input = deleteModal.querySelector('#imageUrl');
            input.value = imageUrl;
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        var searchQueryInput = document.getElementById('searchQuery');
        var searchForm = document.getElementById('searchForm');

        searchQueryInput.addEventListener('input', function () {
            searchForm.submit();
        });
    });
</script>